<div class="topicSquare">
	<!-- 页头 -->
	<header>
		<a ui-sref="topicSquare" href = "javascript: history.go(-1);">
			<div class="back"></div>
		</a>
		
		<div class="qus">话题广场</div>
		<a ui-sref="myTopicSquare">
			<div class="mine"></div>
		</a>
	</header>
	<!-- 导航 -->
	<nav>
		<ul class="nav">
			<li ng-class="bg[1]" ng-click="isCurrent(1)" ui-sref="topicSquare.all">全部</li>
			<li ng-class="bg[2]" ng-click="isCurrent(2)" ui-sref="topicSquare.company">公司</li>
			<li ng-class="bg[3]" ng-click="isCurrent(3)" ui-sref="topicSquare.company">城市</li>
			<li ng-class="bg[4]" ng-click="isCurrent(4)" ui-sref="topicSquare.company">职位</li>
			<li ng-class="bg[5]" ng-click="isCurrent(5)" ui-sref="topicSquare.company">行业</li>
			<li ng-class="bg[6]" ng-click="isCurrent(6)" ui-sref="topicSquare.company">职业话题</li>
			<li ng-class="bg[7]" ng-click="isCurrent(7)" ui-sref="topicSquare.company">产品</li>

		</ul>	
	<!-- 添加 -->
		<span class="add"></span>
	</nav>

	<!-- 主体 -->
	<main ui-view>	

	</main>
</div>
