
	<div class="mine">
	<!-- 头部 header -->
		<header>
			<p></p>
			<span>苗志龙</span>
			<p>我还没有写个人介绍</p>
			<p class="edit"></p>
		</header>
	<!-- 主体 main -->
		<main>
		<!-- 第一部分 简历和PLUS -->
			<ul>
				<li class="resume">
					<span>简历</span>
					<p>完整度: <span>63%</span></p>
				</li>
				<li class="PLUS">
					<span>PLUS</span>
					<p>未开启</p>
				</li>
			</ul>
		<!-- 第二部分 收藏、意见反馈、设置 -->
			<ul id="secUl">
				<li>
					<span>收藏</span>
					<p></p>
				</li>
				<li>
					<span>意见反馈</span>
					<p></p>
				</li>
				<li>
					<span>设置</span>
					<p></p>
				</li>
			</ul>
		</main>
		<my-footer></my-footer>
	</div>
